---
interface Props {
  job: any
  lang: string
  dateFormat?: string
}

const { job, lang} = Astro.props
---
<a
  href={job?.data.externalLink && job?.data.externalLink !== "" ? job?.data.externalLink : `/${lang}/job/${job?.id}/`}
  
  class="my-3 visited:text-purple-500/90 md:my-2"
>
  <p class="line-clamp-2 text-lg hover:underline">{job?.data.title}</p>
</a>
