---
interface Props {
  note: any
  lang: string
  dateFormat?: string
}

const { note, lang, dateFormat = "default" } = Astro.props
---

<a
  href={`/${lang}/note/${note?.id}/`}
  class="my-3 visited:text-purple-500/90 md:my-2"
>
  <p class="line-clamp-2 text-lg hover:underline">{note?.data.title}</p>
</a>
